{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <a href="{% url 'book' book.pub_date %}">
                        <h2>{{ book.name }}</h2>
                    </a>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
                </div>
            {% endfor %}
        </div>
        {% if page_obj.has_previous %}
            <a class="button button-primary" href="{{ prev_page }}">{{ prev_page }}</a>
        {% endif %}
        <a class="button disabled" href="">{{ pub_date }}</a>
        {% if page_obj.has_next %}
            <a class="button button-primary" href="{{ next_page }}">{{ next_page }}</a>
        {% endif %}
    </div>
{% endblock %}
